In [1]:
# Assessment_Day_5

In [5]:
import pymysql as py
conn = py.connect (user = 'root',
            password ='Ratna1277!',
            host = 'localhost',
            autocommit = True)
print('Connect Created Successfully!!')

Connect Created Successfully!!

In [6]:
cur = conn.cursor()
print('done')

done

In [7]:
query = '''create database library_db;'''


cur.execute(query)
print('done')

done

In [12]:
query = '''USE library_db;'''
cur.execute(query)
print('done')

done

In [14]:
query = ("""
CREATE TABLE books (
    book_id int not null,
    title varchar(50),
    author varchar(50),
    price float
)
""")

cur.execute(query)
print('done')

done

In [24]:

query = ''' insert into books values
(110,"Wings of Fire", "A.P.J. Abdul Kalam", 250),
(111,"The Secret", "Rhonda Byrne", 300),
(112,"Python Made Easy", "John Smith", 400); '''
cur.execute(query)
print('done')

done

In [27]:
cur.execute("Select SUM(price) FROM books")
result = cur.fetchone()
total_price = result[0]

print(" Total price of all books is ₹", total_price)

 Total price of all books is ₹ 950.0

In [29]:
import pandas as pd

cur.execute("SELECT * FROM books")
rows = cur.fetchall()


df = pd.DataFrame(rows, columns=["book_id", "title", "author", "price"])


df.to_csv("books_data.csv", index=False)

print(" books_data.csv")
print('dawg')

 books_data.csv
dawg