In [ ]:
FUNCTIONAL PROGRAMMING

In [1]:
def check_palindrome(word)
    return(word)

SyntaxError: expected ':' (445542409.py, line 1)

In [2]:
check_palindrome('ajay')
a = 'maam'
a[::-1]

NameError: name 'check_palindrome' is not defined

In [3]:
a = 'nitin'

if a == a[::-1]:
  print(f'{a} is a Palindrome')
else:
  print(f'{a} is Not a Palindrome')

nitin is a Palindrome

In [4]:
def check_palindrome(word:str):
  if type(word) == str:
    word = word.upper()
    if word == word[::-1]:
      return 'Palindrome'
    else:
      return 'Not a Plaindrome'
  else:
    return 'Invalid Data Type'

In [5]:
check_palindrome('harry')

'Not a Plaindrome'

In [13]:
def give_fibo(n):
    fibo = [0,1]
    for i in range(n-2):
        last_num = fibo[-1]
        second_last_num = fibo[-2]
        next_num = last_num + second_last_num
        fibo.append(next_num)
    return fibo

In [14]:
print(give_fibo(20))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]

In [15]:
list(range(2,7))

[2, 3, 4, 5, 6]

In [17]:
def check_prime(number):
    for i in range (2,number):
        if number%1 == 0:
            return 'not a prin no.'
            break
    else:
        return 'prime number'

In [18]:
check_prime(10151)

'not a prin no.'

In [21]:
print('Hello'*int(9.0))

HelloHelloHelloHelloHelloHelloHelloHelloHello

In [4]:
n = 7
for i in range(1,n+1,):
    
    print(' '*(n-i) + i *'* ')

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

In [30]:
def star(n = 5, typ = 'left', shape = '*'):
    if typ == 'left':
        space =''

    elif typ == 'right':
        space ='  '
        
    elif typ == 'mid':
        space =' '
        
    for i in range(1,n+1):
      print(space*(n-i) + i*f'{shape} ')

In [32]:
star(5,'mid','*')

    *
   * *
  * * *
 * * * *
* * * * *

In [6]:
def sum_of_n_natural_nos(n):
    result = 0
    for i in range(1,n+1):
        result += i
    return result

In [8]:
sum_of_n_natural_nos(100)

5050

In [7]:
def factorial(n):
    result = 1
    for i in range(1,n+1):
        result *= i
    return result

In [11]:
factorial(6)

720

In [15]:
def total_sales(*args):
    result = 0
    for i in args:
        result += i
    return result

In [16]:
total_sales(1,4,5,6,3,890)

909

In [24]:
sales = [45,34,656,3456,5567,445,980]

In [25]:
min_element = sales[0]

for i in sales[1:]:
  if i < min_element:
    min_element = i
print(min_element)

34

In [27]:
def max_sales(*sales):
    max_element = sales[0]

    for i in sales[1:]:
      if i > max_element:
        max_element = i
    return max_element

In [28]:
max_sales(45,34,656,3456,5567,445,980)

5567

In [23]:

def min_sales(sales):
    min_element = sales[0]
    for i in sales[1:]:
      if i < min_element:
        min_element = i
    return min_element

In [24]:
min_sales([45,34,656,3456,5567,445,980])

34

In [ ]:
LIST COMPRIHENTION

In [61]:
company = ['starlink','uber','ola','reliance','tata']

def add_hash(company):
    result = []
    for i in company:
        result.append('#'+i.upper())
    return result

In [62]:
add_hash(company)

['#STARLINK', '#UBER', '#OLA', '#RELIANCE', '#TATA']

In [78]:
def store_rec(name,age,roll_no,Class):
    data = {'Name': name,'Age':age,'Roll_no':roll_no,'Class':Class}
    import pandas as pd
    df = pd.DataFrame(data,index = [1])
    return df

In [80]:
display(store_rec('anuman',20,78,15))
display(store_rec('anupam',20,109,15))
display(store_rec('annu',21,56,17))

     Name  Age  Roll_no  Class
1  anuman   20       78     15

     Name  Age  Roll_no  Class
1  anupam   20      109     15

   Name  Age  Roll_no  Class
1  annu   21       56     17

In [ ]:
def stud_rec(**kwargs)
    result = pd. dtaframe(kwargs)
    return result

In [1]:
def students_records(**kwargs):
    # print(kwargs)
    # try exception
    import pandas as pd
    try:
        result = pd.DataFrame(kwargs)
        return result
    except:
        result = pd.DataFrame(kwargs,index = [1])
        return result

In [2]:
students_records(Name = ['Komal','Mohan','Ajay'],
                 Age = [23,45,56],
                 Roll_No = [23,32,67],
                 Address = ['Noida','Delhi','Greater Noida'])

    Name  Age  Roll_No        Address
0  Komal   23       23          Noida
1  Mohan   45       32          Delhi
2   Ajay   56       67  Greater Noida