In [ ]:
#Day3

In [2]:
age = '23' 

try:
    if age >=18:
        print('can vote')
    else:
        print('can\'t vote')
except TypeError:
    print('something went wrong')
    print('invalid datatype comparison')
except:
    print('invalid code!!')

something went wrong
invalid datatype comparison

In [9]:
def stu_rec(**kwargs):
    import pandas as pd 
    try:
        data = pd.DataFrame(kwargs)
        return data
    except:
        data = pd.DataFrame(kwargs, index = [1])
        return data

In [29]:
stu_rec(Name = ['Anuj', 'anupam', 'nakul','Anjany'],
        Age = [20,21,21,20],
        Address = ['maujpur','Rotak', 'narela','Gaziabad'],
       Sec = list('ABCD'))

     Name  Age   Address Sec
0    Anuj   20   maujpur   A
1  anupam   21     Rotak   B
2   nakul   21    narela   C
3  Anjany   20  Gaziabad   D

In [27]:
def Show_Time():
    try:
        while True:
            import time 
            print(time.asctime())
            time.sleep(1)
            display(clear=True)
    except:
        print('Time Stopped')

In [26]:
Show_Time()

Fri Jul  4 10:40:15 2025
Time Stopped

In [1]:
import Anuman as am
print('Done')
print(am.check_palindrome('malayalam'))

This is Anuman's Module
Info: https://www.google.com/
Done
Palindrome

In [43]:
print(am.star(n = 5, typ = 'left',shape = '&'))

&
& &
& & &
& & & &
& & & & &
None

In [46]:
am.max_sales(12,34,574,63,789,944)

944

In [47]:
print(am.check_prime(3456))

not a prin no.

In [49]:
print(am.give_fibo(12))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [50]:
am.sum_of_n_natural_nos(12)

78

NameError: name 'gTTS' is not defined

NameError: name 'gTTS' is not defined

In [ ]:
import math as m

In [69]:
# !pip install gTTS

Requirement already satisfied: gTTS in c:\users\anuma\new folder\lib\site-packages (2.5.4)
Requirement already satisfied: requests<3,>=2.27 in c:\users\anuma\new folder\lib\site-packages (from gTTS) (2.32.3)
Requirement already satisfied: click<8.2,>=7.1 in c:\users\anuma\new folder\lib\site-packages (from gTTS) (8.1.8)
Requirement already satisfied: colorama in c:\users\anuma\new folder\lib\site-packages (from click<8.2,>=7.1->gTTS) (0.4.6)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\anuma\new folder\lib\site-packages (from requests<3,>=2.27->gTTS) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\anuma\new folder\lib\site-packages (from requests<3,>=2.27->gTTS) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\anuma\new folder\lib\site-packages (from requests<3,>=2.27->gTTS) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\anuma\new folder\lib\site-packages (from requests<3,>=2.27->gTTS) (2025.6.15)

In [3]:
from gtts import gTTS
am.sound_box(30)

ModuleNotFoundError: No module named 'pygame'

In [4]:
!pip install pygame

Collecting pygame
  Downloading pygame-2.6.1-cp313-cp313-win_amd64.whl.metadata (13 kB)
Downloading pygame-2.6.1-cp313-cp313-win_amd64.whl (10.6 MB)
   ---------------------------------------- 0.0/10.6 MB ? eta -:--:--
   ---------------------- ----------------- 6.0/10.6 MB 47.4 MB/s eta 0:00:01
   ---------------------------------------- 10.6/10.6 MB 39.4 MB/s eta 0:00:00
Installing collected packages: pygame
Successfully installed pygame-2.6.1

In [6]:
from gtts import gTTS
am.sound_box(30)

In [ ]:
#File Handling

In [9]:
from Anuman import *
print('done')

done

In [10]:
sum_of_n_natural_nos(15)

120

In [11]:
give_fibo(13)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

In [16]:
students_records(Name = 'Anuj', Age = '20',sec = 'E2')

   Name Age sec
1  Anuj  20  E2

In [2]:
import turtle
for i in range(18):
    turtle.bgcolor('white')
    col = ['red', 'yellow','green','blue','orange']
    import random
    picked_color = random.choice(col)
    turtle.color(picked_color)
    turtle.circle(100)
    turtle.left(224)

In [1]:
import turtle
for i in range(3):
    turtle.forward(100)
    turtle.left(120)

In [1]:
import turtle
for i in range(6):
    turtle.forward(100)
    turtle.left(60)

In [ ]:
# 1:- Text File
#
# .py,.html, .csv, .tsv, .css, .java, .c, c++,. json, .js,
# 2: Binary File
# Software
# .pdf, .mp3, mp4, .png, .jpeg, .exe, .zip, .dat, .tar .xlsx, .ppt, .doc, .ipynb

In [ ]:
# handling:- read, write, copy, append, delete, open, new

In [ ]:
#context Manager

In [4]:
file = open('Anuman.py',mode = 'r')
print(file.read())
file.close()

print('''This is Anuman's Module
Info: https://www.google.com/''')

#Palindrome

In [22]:
file = open('Anuman.py')
for i in range(5):
    print(file.readline())

print('''This is Anuman's Module

Info: https://www.google.com/''')



#Palindrome

def check_palindrome(word:str):

In [28]:
f = open('Anuman.py')
for i in range(10):
    if i == 5:
        print(file.readline())
    else:
        f.readline()

Info: https://www.google.com/''')

In [31]:
file = open('Anuman.py')
data = file.readlines()
print(data.
file.close

["print('''This is Anuman's Module\n"]