In [5]:
pip install PyMySql

Requirement already satisfied: PyMySql in c:\users\anuma\new folder\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pymysql as py
conn = py.connect (user = 'root',
            password ='1234',
            host = 'localhost',
            autocommit = True)
print('Connect Created Successfully!!')

Connect Created Successfully!!

In [7]:
cur = conn.cursor()
print('done')

done

In [8]:
query = '''create database IITM_day5;'''


cur.execute(query)
print('done')

ProgrammingError: (1007, "Can't create database 'iitm_day5'; database exists")

In [9]:
query = '''USE IITM_day5;'''
cur.execute(query)
print('done')

done

In [10]:
query = '''create table student_details
(
SID int not null,
student_name varchar(50),
course varchar(50),
Address varchar(50),
scholarship float
);'''
cur.execute(query)
print('done')

OperationalError: (1050, "Table 'student_details' already exists")

In [11]:
query = ''' insert into student_details values
(101,"Mohit","BCA","Delhi Janakpuri",50000),
(102,"Rohit","BCA"," South Delhi",50000); '''
cur.execute(query)
print('done')

done

In [12]:
n = 3
for i in range(n):
    
    sid = int(input('Enter Rollno/SID:'))
    Name = input('Enter your Name:')
    course = input('Enter your Course:')
    Address = input('Enter your Address:')
    Scholarship = float(input('Enter your scholarship in RS:'))

q = f'''insert into student_details values
({sid},"{Name}","{course}","{Address}",{Scholarship});'''

cur.execute(q)
print('done')

Enter Rollno/SID: 23
Enter your Name: Anuj
Enter your Course: BBA
Enter your Address: Mexico
Enter your scholarship in RS: 5000
Enter Rollno/SID: ad

ValueError: invalid literal for int() with base 10: 'ad'

In [13]:
def show_records(db,table):
    query = f'''select * from {db}.{table};'''
    cur.execute(query)

records = cur.fetchall()

all_columns = []
for i in cur.description:
    all_columns.append(i[0])
    
import pandas as pd 
pd.DataFrame(records, columns = all_columns)

TypeError: 'NoneType' object is not iterable

In [15]:
show_records('IITM_day5','student_details')

In [16]:
conn.close()
print('done')

done