In [1]:
#a1) list is mutable.eg:list = [1,2,3]
    #tuple is immutable. eg: tuple = (1,2,3)

In [2]:
#q2) input() takes input from user. it return string. to convert it we use :
# int(input("enter"))

In [3]:
#q3) used to store data in key:value format
dict = {'name':'teju','age':20,'clg':'ipu',}

In [4]:
#q4)to create loop repeatedly  eg.:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [5]:
#q5) to handle errors
try:
    x=10/0
except ZeroDivisionError:
    print("cannot divide by 0")
finally:
    print("done")

cannot divide by 0
done

In [9]:
#q6) to import diff modules for easy coding
#import math is used to import math module
math.sqrt(16)
#from math import sqrt:imports only sqrt
sqrt(16)

In [36]:
#q7) oops in python works on inheritance,polymorphism,encapsulation 
#classes are objects and objects are instance of an class
class Dog:
    def __init__(self,eat):
        self.eat
        
    def eat(self):
        print("eggs")
my_dog = Dog("meow")
my_dog.eat()

eggs

In [29]:
#q8)to create loop in list

In [30]:
#q9) area
import math
def calculate_area(r):
    return math.pi*r**2
print(calculate_area(5))

78.53981633974483

In [31]:
#q10)
name = input("enter name:")
age = input("enter age:")
print(f"hello {name},you are {age} years old!")

enter name: tejas
enter age: 20

hello tejas,you are 20 years old!

In [25]:
#q11)
fruits = ["apple","litchi","kiwi","orange","banana"]
for i in enumerate(fruits,start=1):
    print(f"{i}.{fruits}")

(1, 'apple').['apple', 'litchi', 'kiwi', 'orange', 'banana']
(2, 'litchi').['apple', 'litchi', 'kiwi', 'orange', 'banana']
(3, 'kiwi').['apple', 'litchi', 'kiwi', 'orange', 'banana']
(4, 'orange').['apple', 'litchi', 'kiwi', 'orange', 'banana']
(5, 'banana').['apple', 'litchi', 'kiwi', 'orange', 'banana']

In [32]:
#q12)
def grade_calculator(score):
    if 90<= score <=100:
        return "A"
    elif 80<= score <=89:
        return "B"
    elif 70<= score <=79:
        return "C"
    elif 60<= score <=69:
        return "D"
    else:
        return "F"
print (grade_calculator(67))
print (grade_calculator(79))
print (grade_calculator(92))

D
C
A

In [33]:
#q13)absent

In [38]:
#q14)
class Bank_account:
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance

    def deposit(self, amount):
        self.balance += amount

    def withdraw(self, amount):
        if amount <= self.balance:
            self.balance -= amount
        else:
            print("Insufficient balance")

    def display_balance(self):
        print(f"{self.name}'s Balance: ₹{self.balance}")

acc = Bank_account("Tejaswani", 1000)
acc.deposit(500)
acc.withdraw(300)
acc.display_balance()

Tejaswani's Balance: ₹1200

In [ ]:
#q15)
def check_prime(n):
    if n<=1:
        return False